<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <!--
           @require "../static/index.css"
        -->
    </head>
    <body>
        <div class="container content">
            您尚未登录！！！
            <a href="/mongodata/login" class="btn btn-primary btn-default active" role="button">请登录</a>
        </div>
        <!--inline[../../common/page/foot.ejs]-->
    </body>
</html>