<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <!-- 
           @require "../static/index.css"
         -->
    </head>
    <body>
        <!--inline[../../common/page/header.ejs]-->
       <div class="container content" id="home">欢迎来到多聊！！！</div>
          <!--inline[../../common/page/footer.ejs]-->
          <!--inline[../../common/page/foot.ejs]-->
    </body>
</html>